<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.heu.soft.domain.PersonSelectNameMapper">


    <select id="SelectName"    resultType="edu.heu.soft.domain.PersonSelectName">


             select name from user where department in(select department from user where name='盘古');


    </select>


    <select id="SelectLeader"  resultType="integer">

           SELECT role from user WHERE name='盘古';

    </select>

     <select id="SelectNameNotLeader" resultType="edu.heu.soft.domain.PersonSelectName">

             SELECT NAME FROM USER WHERE NAME ='盘古';
     </select>

    <select id="SelectNameLeader"    resultType="edu.heu.soft.domain.PersonSelectName">


        select name from user where department in(select department from user where name='盘古');


    </select>









</mapper>
