<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.heu.soft.domain.ProjectMapper">

    <select id="findById" parameterType="long" resultType="edu.heu.soft.domain.Project">
        SELECT * FROM PROJECT WHERE ID=#{id}
    </select>

    <select id="find" resultType="edu.heu.soft.domain.Project">
        SELECT * FROM PROJECT
        <if test="cond!=null">
            <where>
                <if test="cond.name!=null and cond.name!=''">
                    AND NAME=#{cond.name}
                </if>
                <if test="cond.startTime!=null">
                    AND STARTTIME >= #{cond.startTime}
                </if>
                <if test="cond.endTime!=null">
                    AND #{cond.endTime} >= ENDTIME
                </if>
            </where>
        </if>
        LIMIT #{offset},#{total}
    </select>

    <select id="getCount" parameterType="edu.heu.soft.domain.Project" resultType="int">
        SELECT COUNT(*) FROM PROJECT
            <where>
                <if test="name!=null and name!=''">
                    AND NAME=#{name}
                </if>
                <if test="startTime!=null">
                    AND STARTTIME >= #{startTime}
                </if>
                <if test="endTime!=null">
                    AND #{endTime} >= ENDTIME
                </if>
            </where>
    </select>

    <select id="findPrpByProjectName" parameterType="String" resultType="edu.heu.soft.domain.ProjectAndPrp">
        SELECT * FROM PROJECTANDPRP WHERE PROJECT=#{name}
    </select>

    <select id="findUserByProjectName" parameterType="String" resultType="edu.heu.soft.domain.ProjectAndUser">
        SELECT * FROM PROJECTANDUSER WHERE PROJECT=#{name}
    </select>

    <select id="findUserStringByProjectName" parameterType="String" resultType="String">
        SELECT USERNAME FROM PROJECTANDUSER WHERE PROJECT=#{name}
    </select>

    <select id="findDepartmentByProjectName" parameterType="String" resultType="edu.heu.soft.domain.ProjectAndDepartment">
        SELECT * FROM PROJECTANDDEPARTMENT WHERE PROJECT=#{name}
    </select>

    <select id="findUserByDept" parameterType="String" resultType="edu.heu.soft.domain.User">
        SELECT * FROM USER WHERE DEPARTMENT=#{dept}
    </select>

    <select id="findUserStringByDept" parameterType="String" resultType="String">
        SELECT NAME FROM USER WHERE DEPARTMENT=#{dept}
    </select>

    <select id="findAllPrp" resultType="edu.heu.soft.domain.Prp">
        SELECT * FROM PRP
    </select>
    <select id="findByName" resultType="edu.heu.soft.domain.Project">
        SELECT * FROM Project WHERE NAME = #{name}
    </select>


    <insert id="insert">
        INSERT INTO PROJECT(NAME,STARTTIME,ENDTIME) VALUES (#{name},#{startTime},#{endTime})
    </insert>

    <update id="update">
        UPDATE PROJECT SET NAME=#{replace.name} , STARTTIME=#{replace.startTime} , ENDTIME=#{prp.endTime}) WHERE ID=#{id}
    </update>

    <insert id="insertPrpLink" parameterType="edu.heu.soft.domain.ProjectAndPrp">
        INSERT PROJECTANDPRP(PROJECT,PRPNAME) VALUES (#{project},#{prpName})
    </insert>

    <insert id="insertDepartmentLink" parameterType="edu.heu.soft.domain.ProjectAndDepartment">
        INSERT PROJECTANDDEPARTMENT(PROJECT,DEPARTMENT) VALUES (#{project},#{department})
    </insert>

    <insert id="insertUserLink" parameterType="edu.heu.soft.domain.ProjectAndUser">
        INSERT PROJECTANDUSER(PROJECT,USERNAME,USERJOB) VALUES (#{project},#{userName},#{userJob})
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM PROJECT WHERE ID=#{id}
    </delete>

    <delete id="deleteDepartmentLink" parameterType="String">
        DELETE FROM PROJECTANDDEPARTMENT WHERE PROJECT=#{projectName}
    </delete>

    <delete id="deleteUserLink" parameterType="String">
        DELETE FROM PROJECTANDUSER WHERE PROJECT=#{projectName}
    </delete>

    <delete id="deletePrpLink" parameterType="String">
        DELETE FROM PROJECTANDPRP WHERE PROJECT=#{projectName}
    </delete>

</mapper>
