<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.heu.soft.domain.ReportMapper">
    <update id="save">
      UPDATE Report
      <set>
          <if test="jmt != null and jmt !=';">
              jmt = #{jmt}
          </if>
          <if test="name != null and jmt !=';">
              name = #{name}
          </if>
          <if test="overTime != null and jmt !=';">
              overTime = #{overTime}
          </if>
          <if test="project != null and jmt !=';">
              project = #{project}
          </if>
          <if test="state != null and jmt !=';">
              state = #{state}
          </if>
          <if test="task != null and jmt !=';">
              task = #{task}
          </if>
          <if test="workLoad != null and jmt !=';">
              workLoad = #{workLoad}
          </if>
      </set>
      WHERE id = #{id}
    </update>

    <select id="findByStateOrderByProjectAndName" resultType="edu.heu.soft.domain.Report">
        SELECT * FROM REPORT WHERE (STATE = #{STATE}) ORDER BY PROJECT, NAME
    </select>
    <select id="findByNameAndStateAndDate" resultType="edu.heu.soft.domain.Report">
        SELECT * FROM Report
        <where>
            <if test="name !=null and name != '' ">
                AND NAME=#{name}
            </if>
            <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
                AND (JMT BETWEEN #{startDate} AND #{endDate})
            </if>
            <if test="state != null and state != ''">
                AND (STATE = #{state})
            </if>
        </where>
    </select>
    <select id="findByNameAndDate" resultType="edu.heu.soft.domain.Report">
        SELECT * FROM Report
        <where>
            <if test="name !=null and name != '' ">
                AND NAME=#{name}
            </if>
            AND (JMT BETWEEN #{startDate} AND #{endDate})
        </where>

    </select>
</mapper>