<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.domain.ProjectAndPrpMapper">

    <select id="findById" parameterType="long" resultType="demo.domain.ProjectAndPrp">
        SELECT * FROM PROJECTANDPRP WHERE ID=#{id}
    </select>



    <select id="find" resultType="demo.domain.Prp">
        SELECT * FROM PROJECTANDPRP
        <if test="cond!=null">
            <where>
                <if test="cond.name!=null and cond.name!=''">
                    AND NAME=#{cond.name}
                </if>
                <if test="cond.abbreviation!=null and cond.abbreviation!=''">
                    AND ABBREVIATION=#{cond.name}
                </if>
            </where>
        </if>
        LIMIT #{offset},#{total}

    </select>

    <select id="getCount" parameterType="demo.domain.ProjectAndPrp" resultType="int">
        SELECT COUNT(*) FROM PRP
            <where>
                <if test="name!=null and name!=''">
                    AND NAME=#{name}
                </if>
                <if test="abbreviation!=null and abbreviation!=''">
                    AND ABBREVIATION=#{name}
                </if>
            </where>
    </select>

    <insert id="insert">
        INSERT INTO PRP(NAME,ABBREVIATION,REMARK) VALUES (#{name},#{abbreviation},#{remark})
    </insert>

    <update id="update">
        UPDATE PRP SET NAME=#{prp.name} , ABBREVIATION=#{prp.abbreviation} , REMARK=#{prp.remark}) WHERE ID=#{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM PRP WHERE ID=#{id}
    </delete>

</mapper>
